<languageCodes>
  <languageCode display="English" translation="en" ocr="eng" />
  <languageCode display="Spanish" translation="es" ocr="spa" />
  <languageCode display="Ukranian" translation="uk" ocr="ukr" />
  <languageCode display="French" translation="fr" ocr="fra" />
  <languageCode display="German" translation="de" ocr="deu" />
  <languageCode display="Russian" translation="ru" ocr="rus" />
  <languageCode display="Polish" translation="pl" ocr="pol" />
</languageCodes>