<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="../libs/NuGet/packages" />
    <add key="globalPackagesFolder" value="../libs/NuGet/packages" />
  </config>
  <packageSources>
    <clear />
    <add key="Local" value="../libs/NuGet" />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
    <add key="Local" value="true" />
  </disabledPackageSources>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <packageSourceMapping>
    <packageSource key="Local">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
